services:
  weaviate:
    image: semitechnologies/weaviate:latest
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'text2vec-openai'
      ENABLE_MODULES: 'text2vec-openai'
      OPENAI_APIKEY: ${OPENAI_API_KEY2}
      TEXT2VEC_OPENAI_MODEL: 'text-embedding-3-large'
      TEXT2VEC_OPENAI_EMBEDDING_MODEL: 'text-embedding-3-large'
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - weaviate_data:/var/lib/weaviate 

  postgres:
    image: postgres:15
    restart: always
    environment:
      # POSTGRES_DB: telegram_bot
      POSTGRES_DB: operators
      # POSTGRES_USER: telegram
      POSTGRES_USER: postgres
      # POSTGRES_PASSWORD: yourpassword
      POSTGRES_PASSWORD: 341256erlan
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  bot:
    build: .
    env_file: .env
    depends_on:
      - postgres
      - weaviate

volumes:
  weaviate_data:
  pg_data:
